<div class="main-login-container">
    <div class="information-login-container"></div>
    
    <p class="footer-information">
        Acervo | Tecnologia da Informação 2022 - {{date | date: 'Y'}} | suporte&#64;recordtvdf.com.br | 61 3212-3815
    </p>
    
    <div class="auth-login-container">
      <div class="image-logo-auth"></div>
        <p class="title-auth">Acervo</p>
        <form class="form" [formGroup]="authForm">
            <div class="form-group">
                <input type="text" formControlName="register" id="register" class="register" placeholder=" " autocomplete="0">
                <label for="register">Login</label>
            </div>
            <div class="form-group">
                <input type="password" formControlName="password" id="password" class="password" placeholder=" " autocomplete="0">
                <label for="password">Senha</label>
            </div>
            <div class="form-group">
                <input type="submit" value="Sign In" (click)="onSubmit()">
            </div>
        </form>
    </div>
</div>
<app-message-error [failed]="failed"></app-message-error>
