<div class="container-main-modal">
    <div class="header-container">
        <p class="title">Editar Funcionário</p>
        <p class="close-modal" (click)="closeModal()"><i class="bi bi-x-circle"></i></p>
    </div>
    <form class="main-form" [formGroup]="dialogForm" (ngSubmit)="onSubmit(dialogForm)">
        <div class="main-container">
            <div class="first-group-form">
            <div class="form-group">
                <input type="text" formControlName="name" id="name" class="name form-control" placeholder=" " autocomplete="off" [class.is-invalid]="!dialogForm.controls['name'].valid && dialogForm.controls['name'].touched">
                <label for="name">nome completo</label>
                <p class="error  unique-error" *ngIf="!dialogForm.controls['name'].valid && dialogForm.controls['name'].touched" >* campo obrigatório</p>
                <p class="error unique-error" *ngIf="error !== undefined && error === '* insira o seu nome completo'">{{ error }}</p>
            </div>
            <div class="form-group">
                <input type="text" formControlName="register" id="register" class="register form-control" placeholder=" " autocomplete="off" readonly [class.is-invalid]="!dialogForm.controls['register'].valid && dialogForm.controls['register'].touched">
                <label for="register">matrícula</label>
                <p class="error" *ngIf="!dialogForm.controls['register'].valid && dialogForm.controls['register'].touched">* campo obrigatório</p>
            </div>

            <div class="form-group">
                <input type="text" formControlName="function" id="function" class="function form-control" placeholder=" " autocomplete="off" [class.is-invalid]="!dialogForm.controls['function'].valid && dialogForm.controls['function'].touched">
                <label for="function">função</label>
                <p class="error unique-error" *ngIf="!dialogForm.controls['function'].valid && dialogForm.controls['function'].touched" >* campo obrigatório</p>
            </div>
           
            <!-- <p class="error unique-error" *ngIf="!dialogForm.controls['department'].valid && dialogForm.controls['department'].touched" >* campo obrigatório</p> -->
            </div>
           
            <div class="second-group-form" [class.is-invalid-input-position]="!dialogForm.controls['email'].valid && dialogForm.controls['email'].touched"> 
                <div class="form-group">
                    <input type="email" formControlName="email" id="email" class="email form-control " placeholder=" " autocomplete="off" [class.is-invalid]="!dialogForm.controls['email'].valid && dialogForm.controls['email'].touched">
                    <label for="email">email</label>
                    <p class="error unique-error" *ngIf="!dialogForm.controls['email'].valid && dialogForm.controls['email'].touched" >* campo obrigatório</p>

                </div>
               
              
                <div class="form-group">
                    <input type="text" formControlName="department" id="department" class="department form-control unique-error" placeholder=" " autocomplete="off" [class.is-invalid]="!dialogForm.controls['department'].valid && dialogForm.controls['department'].touched">
                    <label for="department">departamento</label>
                    <p class="error unique-error" *ngIf="!dialogForm.controls['department'].valid && dialogForm.controls['department'].touched" >* campo obrigatório</p>
                </div>
               

                <div class="form-group access">
                    <span>acesso:</span>
                    <div class="container-group">
                        <input type="radio" formControlName="access" id="root" class="root" autocomplete="off" value={{1}} *ngIf="data.access == 1" ><span  *ngIf="data.access == 1" >root</span>
                        <input type="radio" formControlName="access" id="admin" class="admin"  autocomplete="off" value={{2}} *ngIf="data.access == 1 || data.access == 2" ><span *ngIf="data.access == 1 || data.access == 2"><abbr title="administrador">adm</abbr></span>
                        <input type="radio" formControlName="access" id="operator" class="operator"  autocomplete="off" value={{3}} *ngIf="data.access == 1 || data.access == 2 || data.access == 3" ><span *ngIf="data.access == 1 || data.access == 2 || data.access == 3"><abbr title="operador">oper</abbr></span>
                        <input type="radio" formControlName="access" id="collaborator" class="collaborator"  autocomplete="off" value={{4}}   *ngIf="data.access == 1 || data.access == 2 || data.access == 4"><span  *ngIf="data.access == 1 || data.access == 2 || data.access == 4"><abbr title="colaborador">col</abbr></span>
                    </div>
                </div>
            </div>
        </div>
           
           
        <div class="footer-container">
            <div [class.container-message-separation]="error" class="space-btn">
                <div>
                    <p class="error" *ngIf="error !== undefined && error !== '* campo aceita apenas e-mail.'  && error !== '* insira o seu nome completo'" [class.generic-error]="error !== undefined && error !== '* campo aceita apenas e-mail.'  && error !== '* insira o seu nome completo'" [class.erro-undefined]="error !== undefined && error !== '* campo aceita apenas e-mail.'  && error !== '* insira o seu nome completo' && error">{{ error }}</p>
                </div>
                <div class="spacing-between-btn">
                    <button type="button" class="btn btn-outline-primary " (click)="redirectHistoricToUser(data.id)"><i class="bi bi-clock-fill"></i> Histórico</button>
                    <button type="button" class="btn btn-outline-info purple" (click)="redirectUseProduct(data.id)"><i class="bi bi-cart-check"></i> Produtos em Uso</button>
                    <button type="button" class="btn btn-outline-dark" (click)="openModalResetPassword()"><i class="bi bi-key"></i> Aterar Senha</button>
                    <button type="submit" class="btn btn-outline-warning"><i class="bi bi-pencil-square"></i> Editar Dados</button>
                </div>
            </div>
        </div>
    </form>
</div>
