
<app-menu-responsive></app-menu-responsive>
<div class="container-main-users">
    <div class="container-header-table">
      <p class="title-page withdraw">Devolver</p>
</div>


<!-- 
<div class="container-search">
  <form>
    <div class="form-group search-group">
      <input type="text" class="search form-control" placeholder="Matrícula do Funcionário" (keydown.enter)="employeeSearch(userSearchInput)" (blur)="employeeSearch(userSearchInput)" #userSearchInput>
      <label for=""><i class="bi bi-search"></i></label>
      <input type="text" class="search form-control product-control" placeholder="Código do Produto" (keydown.enter)="getProductSend(userSearchInputProduct)" #userSearchInputProduct>
      <label for=""><i class="bi bi-search product"></i></label>
     
    </div>
      <p class="error" *ngIf="failed !== undefined">{{ failed }}</p>
  </form>
 
</div> -->
<div class="container-info-devolution">
    <div class="container-data-user" >
        <ul class="list-group" *ngFor="let user of users">
            <li class="list-group-item disabled" aria-disabled="true">Funcionário</li>
            <li class="list-group-item">Nome: {{ user.name }}</li>
            <li class="list-group-item">Matrícula: {{ user.register }}</li>
            <li class="list-group-item">E-mail: {{ user.email }}</li>
            <li class="list-group-item">Departamento: {{ user.department }}</li>
        </ul>
    </div>
   
    <div class="container-products-in-use scroll-table">
        <p class="title-page cart-in-use">Carrinho</p>
        <table class="table table-hover products-in-use">
            <thead>
                    <tr>
                        <th>#</th>
                        <th>product</th>
                        <th>code</th>
                        <th>marca</th>
                        <th>cor</th>
                        <th>tamanho</th>
                        <th>sexo</th>
                        <th>ações</th>
                    </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of productsInUse">
                  <td>{{ product.id }}</td>
                  <td>{{ product.product }}</td>
                  <td>{{ product.code }}</td>
                  <td>{{ product.brand }}</td>
                  <td>{{ product.color }}</td>
                  <td>{{ product.size }}</td>
                  <td>{{ product.sexo }}</td>
                  <td><abbr title="Devolver Produto"><button class="btn btn-outline-danger" (click)="onCartRemove(product.id)"><i class="bi bi-arrow-bar-down"></i></button></abbr></td>
                </tr>   
            </tbody>
          </table>

    </div>
</div>
<p class="title-page cart">Confirmar Devolução</p>
<div class="container-position-equips scroll-table">
  <table class="table table-hover">
    <thead>
            <tr>
                <th>#</th>
                <th>code</th>
                <th>product</th>
                <th>marca</th>
                <th>cor</th>
                <th>tamanho</th>
                <th>sexo</th>
                <th>observação</th>
                <th>avaria</th>
                <th>descrição</th>
                <th>ações</th>
            </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of productsList">
          <td>{{ product.id }}</td>
          <td>{{ product.code }}</td>
          <td>{{ product.product }}</td>
          <td>{{ product.brand }}</td>
          <td>{{ product.color }}</td>
          <td>{{ product.size }}</td>
          <td>{{ product.sexo }}</td>
          <td>{{ product.observation }}</td>
          <td>{{ product.breakdown }}</td>
          <td>{{ product.description }}</td>
          <td class="btn-danger"><abbr title="Cancelar devolução"><button class="btn btn-outline-danger"  (click)="removeProductList(product.id)"><i class="bi bi-trash3-fill"></i></button></abbr></td>
        </tr>
    </tbody>
  </table>
</div>
<div class="container-position-btn-success">
  <button class="btn btn-outline-success"  (click)="submitDialog(productsList,users[0])"  [disabled]="productsList.length === 0" ><i class="bi bi-cart-plus-fill"></i> Devolver Produtos</button>
</div>

<div class="container-footer">
  <div class="container-lign-footer">
    <p>Acervo&#64;{{ data | date: 'Y'}}</p>
  </div>
</div> 
 
<div class="container-message-success" *ngIf="success !== null">
  <span class="success">
     <p class="message-success"> {{ success }} </p>
  <div class="progress-bar"></div>
  </span>
</div>






