
<app-menu-responsive></app-menu-responsive>
<div class="container-main-users">
    <div class="container-header-table">
      <p class="title-page withdraw">Retirar</p>
      <!-- 

        Tenho que terminar a apresentação de erro e validação se o produto estiver em uso, apenas o frontend

       -->
</div>


<div class="main-container">
  <div class="container-search">
    <form>
      <div class="form-group search-group">
        <div class="first-form-group">
          <input type="text" class="search-width search-employee form-control" placeholder="Matrícula do Funcionário" id="user" value="" (keydown.enter)="employeeSearch(userSearchInput)" (change)="onChangedUser()" (blur)="employeeSearch(userSearchInput)" #userSearchInput>
          <label for="" class="label-employee"><i class="bi bi-search employee"></i></label>
        </div>
        <div class="second-form-group">
          <input type="text" class="search-width search-product form-control" placeholder="Código do Produto" (keydown.enter)="getProductSend(userSearchInputProduct)" #userSearchInputProduct>
          <label for="" class="label-product"><i class="bi bi-search product"></i></label>
        </div>
      </div>
      <div class="container-message-error">
        <app-message-error [failed]="failed"></app-message-error>
      </div>
    </form>
  </div>
  
  <div class="container-data-user" *ngFor="let user of users">
    <ul class="list-group" *ngIf="users">
      <li class="list-group-item disabled" aria-disabled="true">Funcionário</li>
        <li class="list-group-item">Nome: {{ user.name }}</li>
        <li class="list-group-item">Matrícula: {{ user.register }}</li>
        <li class="list-group-item">E-mail: {{ user.email }}</li>
        <li class="list-group-item">Departamento: {{ user.department }}</li>
    </ul>
  </div>
</div>

<div class="main-container-table-representation">
  <p class="title-page cart">Carrinho</p>
  <div class="container-position-equips">
    <table class="table table-hover">
      <thead>
              <tr>
                  <th>#</th>
                  <th>code</th>
                  <th>product</th>
                  <th>marca</th>
                  <th>cor</th>
                  <th>tamanho</th>
                  <th>sexo</th>
                  <th>observação</th>
                  <th>avaria</th>
                  <th>descrição</th>
                  <th>quantidade</th>
                  <th>ações</th>
              </tr>
      </thead>
      <tbody>
          <tr *ngFor="let product of productListSession" >
            <td (click)="openDialog(product)">{{ product.id }}</td>
            <td (click)="openDialog(product)">{{ product.code }}</td>
            <td (click)="openDialog(product)">{{ product.product }}</td>
            <td (click)="openDialog(product)">{{ product.brand }}</td>
            <td (click)="openDialog(product)">{{ product.color }}</td>
            <td (click)="openDialog(product)">{{ product.size }}</td>
            <td (click)="openDialog(product)">{{ product.sexo }}</td>
            <td *ngIf="product.observation !== 'null';else notNull" (click)="openDialog(product)">{{ product.observation }}</td>
            <ng-template #notNull>
              <td (click)="openDialog(product)"></td>
            </ng-template>
            <td *ngIf="product.breakdown; else notBreakdown" (click)="openDialog(product)">Sim</td>
            <ng-template #notBreakdown>
              <td (click)="openDialog(product)">Não</td>
            </ng-template>
            <td (click)="openDialog(product)">{{ product.description }}</td>
            <td><span class="less" (click)="counterLess(product.id)">-</span><span id="{{product.id}}">{{ product.amount }}</span><span class="more"  (mousedown)="counterMore(product.id)">+</span></td>
            <td class="btn-danger" ><button class="btn btn-outline-danger" (click)="removeProductList(product.id)" ><i class="bi bi-trash3-fill"></i></button></td>
          </tr>
      </tbody>
    </table>
  </div>
  <div class="container-position-btn-success">
    <button (click)="submitDialog(productListSession,users[0])" class="btn btn-outline-success" [disabled]="productListSession.length === 0"><i class="bi bi-cart-plus-fill" ></i> Retirar Produtos</button>
  </div>
</div>  

<div class="container-footer">
  <div class="container-lign-footer">
    <p>Acervo&copy;{{ data | date: 'Y'}}</p>
  </div>
</div> 

  <div class="container-message-success" *ngIf="success !== null">
  <span class="success" >
     <p class="message-success"> {{ success }} </p>
     <div class="progress-bar"></div>
  </span>