.container-main-users {
    position: absolute;
    top: 3.95em;
    left: 13.5em;
    height: 73vh;
    width: 85%;
    padding: 1em;
  
}

.title-page {
    margin-left: 1.8em;
    font-size: 1.2em;
}

.container-table-user {
    padding: 2em;
    z-index: 1;
}

tr {
    vertical-align: middle;
}


tr th {
    text-transform: capitalize;
    font-size: .80rem;
}

tr td {
    font-size: .75rem;
}

.name {
    text-transform: capitalize;
}

tbody tr:hover {
    cursor: pointer;
}

/* header table / search and title */

.container-header-table{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0em;
    align-items: center;
    padding-right: 2.5em;
    border-bottom: 1px solid #c1c1c1;
    margin-left: 2em;
    padding-bottom: 1em;
    width: 98%;
    margin-bottom: 3em;
}

a {
    text-transform: capitalize;
    /* color: #2f2f2fd7; */
    display: flex;
    gap: .4em;
    background-color: rgba(47, 47, 47, 0.633);
    color: #fff;
    padding: .8em;
    border-radius: .3em;
    font-size: .75em;
    letter-spacing: .12em;
    align-items: center;
}

a i {
    font-size: 1.2em;
}

.register {
    cursor: pointer;
}




.my-css-class .mat-dialog-container{
    color: #fff;
  } 


  /* message success */

  .container-message-success {
    position: fixed;
    top: 4.3em;
    right: 60em;
    z-index: 9;
    margin-top: 0em;
    margin-right: -11px;
}


.success {
    position: relative;
    padding-top: 1em;
    padding-left: 0em;
    padding-right: 0em;
    padding-bottom: .2em;
    background-color: #d7eed5;
    color: #41b556;
    border-color: #52b541;
    display: flex;
    align-items: start;
    width: 20vw;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    animation: showTime 5s forwards;
    z-index: 9999;
}



@keyframes showTime {
    0% {
       display: block;
    }

    100% {
       display: none;
    }
}


.progress-bar {
    position: absolute;
    background-color: #41b554;
    width: 100%;
    height: 2px;
    margin-top: 1em;
    animation: progress-bar 5s forwards;
    bottom: 0px;
}

.message-success {
    width: 100%;
    text-align: center;
    font-size: .75em;
   
}



@keyframes progress-bar {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}


.search {
    border: none;
    position: absolute;
    margin-top: 1em;
    width: 196px;
    font-size: .75em;
}
.search::placeholder {
    font-size: .89em;
}

.search:not(:placeholder-shown) ~ label{
    overflow: hidden;
    color: transparent;
}

.search ~ label {
    position: relative;
    right: -177px;
    margin-left: 0em;
    margin-top: 1.4em;
    color: #0000007d;
    font-size: .80em;
}

.product {
    margin-left: -10.5px;
    position: relative;
    top: 46px;
}

.product-control {
    margin-top: 2em;
}


.container-search {
    margin-left: 2em;
}


.employee {
    position: absolute;
    top: 4em;
}

.remove {
    position: relative;
    top: -2em;
}

.container-table-equip {
    width: 83vw;
    margin-top: 0.5em;
    padding: 2em;
    z-index: 1;
    height: 400px;
    overflow-y: scroll;
}

.main-container-equip {
    display: flex;
}


ul {
    display: flex;
}

.list-title {
    background-color: #f1f1f19d;
    padding: 1em;
}


.container-data-user {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-right: 0em;
    margin-top: 75px;
}




.container-data-equip {
    position: relative;
    top: 0px;
    right: 0px;
    margin-right: 3em;
    margin-bottom: 4em;
    width: 17vw;
}


.container-position-equips {
    position: relative;
    top: 0em;
    left: 2em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    z-index: 0;
    height: 348px;
    overflow-y: scroll;
    margin-top: 8em;
}

.cart {
    position: relative;
    top: 5.8em;
    left: 0.1em;
}

.table {
    margin-top: -2.8em;
    position: absolute;
    top: 2em;
    left: -1em;
    margin-right: 3em;
}



.container-position-btn-success {
    position: relative;
    left: 12px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.container-message-erro{
    position: absolute;
    margin-left: -0.4em;
    width: 100vh;
    margin-top: 1em;
}

.error {
    position: relative;
    padding-top: 0.5em;
    padding-left: 0em;
    padding-right: 0em;
    padding-bottom: 0.5em;
    background-color: #eed5d5;
    color: #b54641;
    border-color: #b54641;
    display: flex;
    align-items: center;
    width: 195px;
    justify-content: center;
    flex-direction: column;
    font-size: .75em;
    text-align: center;
    margin-top: 5px;
    top: 5em;
    margin-bottom: -3em;
}

.withdraw {
    margin-left: 0.3em;
}

