<app-menu-responsive></app-menu-responsive>

<div class="container-main-users">
    <div class="container-header-table">
      <p class="title-page">Administradores</p>
      <div class="container-search">
        <app-search  (data)="onSearch($event)"></app-search>
      </div>
      <a class="register" (click)="navigateRegister()"><i class="bi bi-person-fill-add"></i>cadastrar</a>
    </div> 
   
    <div class="container-table-user">
        <table class="table table-hover">
            <thead>
              <tr (click)="changeOrderBy()" (mouseover)="effectIconOrderBYOver()" (mouseout)="effectIconOrderBYOut()">
                <th>#<i class="{{ orderByIcon }}"></i><i class="bi bi-arrow-down"></i></th>
                <th>nome<i class="{{ orderByIcon }}"></i><i class="bi bi-arrow-up"></i></th>
                <th>matrícula<i class="{{ orderByIcon }}"></i><i class="bi bi-arrow-down"></i></th>
                <th>função<i class="{{ orderByIcon }}"></i><i class="bi bi-arrow-up"></i></th>
                <th>departamento<i class="{{ orderByIcon }}"></i><i class="bi bi-arrow-down"></i></th>
                <th>e-mail</th>
                <th class="showNone">acesso</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let user of users" (click)="openDialog(list)" #list>
                  <td>{{user.id}}</td>
                  <td class="name">{{user.name}}</td>
                  <td>{{user.register}}</td>
                  <td>{{user.function}}</td>
                  <td>{{user.department}}</td>
                  <td>{{user.email}}</td>
                  <td *ngIf="user.access" id="{{user.access}}" class="showNone">
                   Admin
                  </td>
                </tr>
            </tbody>
          </table>
    </div>

    <div class="container-paginator">
      <app-paginator [paginator]="paginator" [alpha]="alpha" (paginatorEvent)="nextPage($event)" ></app-paginator>
    </div>

    <div class="container-footer">
      <div class="container-lign-footer">
        <p>Acervo&#64;{{ data | date: 'Y'}}</p>
      </div>


<div class="container-message-success" *ngIf="success !== null">
  <span class="success" >
     <p class="message-success"> {{ success }} </p>
  <div class="progress-bar"></div>
  </span>
</div>


</div>