

  ::ng-deep .mat-mdc-dialog-container {
    --mdc-dialog-container-color: #f1f1f1;
  }
  
  
  .header-container {
    width: 100%;
    border-bottom: 1px solid #c1c1c1;
    border-top: 1px solid #c1c1c1;
    padding: .5em;
    text-align: center;
  }
  
  .title {
    margin-top: 1em;
    /* text-transform: capitalize; */
    font-size: 1.2em;
  }
  
  .footer-container {
    position: relative;
    display: flex;
    border-top: 1px solid #c1c1c1;
    justify-content: flex-end;
    align-items: center;
    padding: 2em;
    text-align: center;
    padding-right: 0.5em;
    gap: 0.5em;
  }
  
  .container-content {
    height: auto;
    max-height: 50vh;
    overflow-y: scroll;
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
    flex-wrap: wrap;
    margin-bottom: 0em;
}
  
  .btn-outline-dark {
  font-size: .89em;
  margin-top: 0em;
  }
  
  
  table {
  width: 100vh;
  }
  
  .btn-dark {
    font-size: .89em;
    margin-top: 1.2em;
  }
  
  
  
  .form-group {
    position: relative;
    display: flex;
  }
  
  input {
    margin-bottom: 2em;
    padding-left: .3em;
    font-size: 12px;
  }
  
  input ~ label {
  position: absolute;
  left: 0;
  margin-top: 0.3em;
  transition: all ease-in-out .5s;
  text-transform: capitalize;
  opacity: 50%;
  cursor: text;
  }
  
  label {
    margin-left: .5em;
    font-size: .89em;
  }
  
  input:not(:placeholder-shown) ~ label {
    margin-top: -2em;
    font-size: .75em;
    transition: all ease-in-out .5s;
    color: #2f2f2f;
    opacity: 100;
    margin-left: 0.3em;
  }
  
  input:focus ~ label{
    margin-top: -2em;
    font-size: .75em;
    transition: all ease-in-out .5s;
    color: #2f2f2f;
    opacity: 100%;
  }
  
  .access {
    display: flex;
  }
  
  .name {
    text-transform: capitalize;
  }
  
  input[type="radio"] {
      margin-left: .5em;
      margin-top: .3em;
  }
  
  input[type="radio"] ~ span {
    position: relative;
    top: -0.16em;
    margin-left: .5em;
  }
  
  .indentify {
  display: none;
  }
  
  .close-modal {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0.3em;
  margin-right: 0.2em;
  font-size: 1.5em;
  color: #2f2f2f;
  cursor: pointer;
  padding: 0.18em;
  }
  
  .error {
  font-size: .75em;
  background-color: #eed5d5;
  color: #b54641;
  border-color: #b54641;
  padding: 0.5em;
  margin-top: -1em;
  margin-bottom: 2.5em;
  }
  
  .error-condition {
  font-size: .75em;
  background-color: #eed5d5;
  color: #b54641;
  border-color: #b54641;
  padding: 0.5em;
  width: 13.3vw;
  margin-top: 1em;
  margin-bottom: -6em;
  }
  
  .observation {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: -1.5em;
  padding-left: 0;
  }
  
  .observation label {
  transition: all ease-in-out .5s;
  color: #2f2f2f;
  opacity: 100%;
  }
  
  
  .description {
    font-size: 12px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: -0.8em;
  }
  
  .description label {
  transition: all ease-in-out .5s;
  color: #2f2f2f;
  opacity: 100%;
  margin-top: 1em;
  position: relative;
  top: -1em;
  }
  
  textarea {
    font-size: 12px;
  }
  
  .breakdown {
  position: relative;
  margin-top: 0em;
  margin-left: 0.4em;
  
  }
  
  .second-group-division {
    width: 16vw;
  }
  
  input[type="radio"] {
  position: relative;
  top: 0em;
  cursor: pointer;
  }
  
  /* .container-first-group {
  margin-top: -1.4em;
  } */
  
  span {
  cursor: default;
  }
  /* textarea {
  resize: none;
  height: 62px;
  outline: none;
  background-color: #f1f1f1;
  border: none;
  border-bottom: 1px solid #2f2f2f;
  border-left: 2px solid #2f2f2f;
  padding-left: .3em;
  
  } */
  
  .break-down {
    margin-top: 0.9em;
  }
  
  .generator {
  position: absolute;
  right: 8px;
  top: 4px;
  text-transform: capitalize;
  font-size: 6pt;
  color: rgb(0 0 255 / 86%);
  cursor: pointer;
  }
  
  
  .amount {
  border: none;
  cursor: default;
  display: none;
  
  }
  
  
  
  .amount label {
  display: none;
  }
  
  
  .show-description {
    margin-top: -2.2em;
  }
  
  .avaria {
  font-size: .75em;
  }
  
  .has-avaria {
  position: relative;
  top: 0em;
  }
  
  .code {
    margin-top: 1.5em;
  }


  .btn-outline-info {
    color: #290661;
    background-color: transparent;
    border-color: #290661;
    font-size: .89em;
    margin-bottom: 1em;
    margin-top: .5em;
  }

  .btn-outline-info:hover {
    color: #fff;
    background-color: #290661;
    border-color: #290661;
    font-size: .89em;
  }


  .info-group {
    display: flex;
    flex-direction: column;
  }

  .info-group span {
    font-size: .89em;
    font-weight: bold;
  }

  .info-group p {
    font-size: .75em;
  }

 .size-title {
    font-size: .80em;
 }