<div class="main-container">
   
        <div class="header-container">
            <p class="title" *ngIf="currentPage === '/pendings'">Produto está em uso por:</p>
            <p class="title" *ngIf="currentPage === '/historic'">Produto foi entregue por:</p>

            <p class="close-modal" (click)="closeModal()"><i class="bi bi-x-circle"></i></p>
        </div>
            <div class="container-content" [class.container-table-user]="currentPage === '/pendings'">
                <table class="table table-hover" [class.table-historic]="currentPage !== '/pendings'">
                   <thead>
                    <tr class="size-title">
                        <th>Matrícula</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th><abbr title="Departamento">Departamento</abbr></th>
                        <th *ngIf="currentPage === '/pendings'"><abbr title="Quantidade">Quantidade</abbr></th>
                        <th *ngIf="currentPage === '/pendings'">Ação</th>
                    </tr>
                   </thead>
                   <tbody class="table-group-divider" *ngIf="currentPage === '/pendings'">
                    <ng-container *ngFor="let user of users">
                    <tr *ngFor="let subUser of user.user.data let i = index" class="align-center">
                        <td>{{ subUser.register }}</td>
                        <td>{{ subUser.name }}</td>
                        <td>{{ subUser.email }}</td>
                        <td>{{ subUser.department }}</td>
                        <td>{{ user.amount[i].amount }}</td>
                        <td>
                            <button (click)="redirectUseProduct(subUser.id)" class="btn btn-outline-info" *ngIf="currentPage === '/pendings'"><i class="bi bi-arrow-bar-down"></i> Devolver Produto</button>
                        </td>
                    </tr>
                    </ng-container> 
                   </tbody>
                   <tbody class="table-group-divider">
                        <tr>
                            <td>{{ users.register }}</td>
                            <td>{{ users.name }}</td>
                            <td>{{ users.email }}</td>
                            <td>{{ users.department }}</td>
                        </tr>
                   </tbody>
                </table>
            </div>     
        <div class="footer-container" *ngIf="currentPage === '/pendings'">
            <div class="spacing-margin-pagination">
                <app-paginator [paginator]="paginator" [alpha]="alpha" (paginatorEvent)="nextPage($event)" ></app-paginator>
            </div>
        </div>
</div>

