 .search{
    position: relative;
    /* border: none; */
    /* border-bottom: 1px solid #000; */
 
}

.form-group {
    position: relative;
    display: flex;
    align-items: center;
}

.search::placeholder {
    font-size: .80em;
}

.search:not(:placeholder-shown) ~ label{
    overflow: hidden;
    color: transparent;
}

.search ~ label {
    position: absolute;
    right: 0px;
    margin: 0 auto;
    margin-right: .75em;
    color: #0000007d;
    font-size: .80em;
}
