.container-main-users {
    position: relative;
    top: 7.3em;
    left: 14.67em;
    height: auto;
    width: 84%;
    padding: 1em;
}

.title-page {
    margin-left: 1.8em;
    font-size: 1.2em;
}

.container-table-user {
    position: relative;
    height: 500px;
    overflow-y: scroll;
    padding: 2em;
    z-index: 1;
}



.table {
    margin-top: -2.8em;
}

.bi-arrow-down-up  {
    position: relative;
    left: 44px;
}

.to-right {
        position: relative;
        left: 70px;
}

.to-right-too {
    position: relative;
    left: 60px;
}


thead tr {
    cursor: pointer;
}

tr th {
    text-transform: capitalize;
    font-size: .80rem;
}

tr td {
    font-size: .75rem;
}

.span {
    display: flex;
}

.name {
    text-transform: capitalize;
}

tbody tr:hover {
    cursor: pointer;
}

/* header table / search and title */

.container-header-table{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    align-items: center;
    padding-right: 2.5em;
    border-bottom: 1px solid #c1c1c1;
    margin-left: 1em;
    padding-bottom: 1em;
}

a {
    text-transform: capitalize;
    display: flex;
    gap: 0.4em;
    background-color: transparent;
    color: #2f2f2f;
    padding: 0.7em;
    border-radius: 0.6em;
    font-size: .75em;
    letter-spacing: .12em;
    align-items: center;
    border: 1px solid #2f2f2fa1;
}

a:hover {
    opacity: 85%;
    background-color: #2f2f2fa1;
    color: #fff;
    border-color: transparent;
}

a i {
    font-size: 1.2em;
}

.register {
    cursor: pointer;
    margin-left: 5px;
    
}

.container-search {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 5px;
    margin-right: 0px;
}

.my-css-class .mat-dialog-container{
    color: #fff;
  } 


  /* message success */

  .container-message-success {
    position: fixed;
    top: 4.3em;
    right: 60em;
    z-index: 9;
    margin-right: -3em;
    margin-top: 0em;
}






.success {
    position: relative;
    padding-top: 1em;
    padding-left: 0em;
    padding-right: 0em;
    padding-bottom: .2em;
    background-color: #d7eed5;
    color: #41b556;
    border-color: #52b541;
    display: flex;
    align-items: start;
    width: 20vw;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    animation: showTime 5s forwards;
    z-index: 9999;
}



@keyframes showTime {
    0% {
       display: block;
    }

    100% {
       display: none;
    }
}


.progress-bar {
    position: absolute;
    background-color: #41b554;
    width: 100%;
    height: 2px;
    margin-top: 1em;
    animation: progress-bar 5s forwards;
    bottom: 0px;
}

.message-success {
    width: 100%;
    text-align: center;
    font-size: .75em;
   
}



@keyframes progress-bar {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}


.bi-arrow-down-up {
    font-weight: bold;
}


.container-paginator  {
    position: relative;
    margin-top: 164px;
    width: 100%;
    margin-left: -30px;
}

.design-lign {
    width: 50%;
    height: 1px;
    background-color: #2f2f2f;
    position: relative;
    top: 0px;
    left: 0px;
}


.container-footer {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-lign-footer {
    position: absolute;
    border-top: 1px solid #c1c1c1;
    margin-top: 20px;
    width: 81%;
    left: 233px;
    display: flex;
    justify-content: end;
}

.container-lign-footer p {
    color: #696969;
    font-size: .75em;
    margin-right: 1em;
}