.container-main{
    position: absolute;
    left: 0px;
    top: 49px;
    width: 100%;
    height: 100%;
}

.container-main-menu-responsive {
    position: fixed;
    top: 0;
    background-color: #2f2f2f;
    color: #fff;
    height: 100vh;
    width: 15%;
    display: flex;
    align-items: center;
    transition: all ease-in-out .5s;
    z-index: 0;
    flex-direction: column;
    justify-content: start;
    padding-top: 6em;
}

a {
    color: #fff;
}

ul {
    padding: 0;
}


li {
    margin-top: 1em;
}

.show-hide {
    width: 0;
    overflow: hidden;
    transition: all ease-in-out .5s;
    color: transparent;
}


.logged {
    position: relative;
    top: 4em;
    font-size: .75em;
    opacity: 40%;
    text-transform: capitalize;
}

.design-line {
    position: relative;
    width: 14%;
    height: 1px;
    background-color: #f1f1f121;
    top: 111.5px;
    z-index: 9999;
    margin-left: .5em;
}
