
<app-menu-responsive></app-menu-responsive>
<div class="container-main-users">
    <div class="container-header-table">
      <p class="title-page">Produtos</p>
      <div class="container-search">
        <app-search (data)="onSearch($event)"></app-search>
      </div>
      <a class="register" (click)="createProduct()"><i class="bi bi-cart-plus-fill"></i>cadastrar</a>
    </div>

    <div class="container-table-user">
        <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>product</th>
                <th>code</th>
                <th>marca</th>
                <th>cor</th>
                <th>tamanho</th>
                <th>sexo</th>
                <th>observação</th>
                <th>avaria</th>
                <th>descrição</th>
                <th>status</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let product of products" (click)="openDialog(product)"> 
                  <td>{{ product.id }}</td>
                  <td>{{ product.product }}</td>
                  <td>{{ product.code }}</td>
                  <td>{{ product.brand }}</td>
                  <td>{{ product.color }}</td>
                  <td>{{ product.size }}</td>
                  <td>{{ product.sexo }}</td>
                  <td>{{ product.observation }}</td>
                  <td *ngIf="product.breakdown">sim</td>
                  <td *ngIf="!product.breakdown">não</td>
                  <td>{{ product.description }}</td>
                  <td *ngIf="!product.pending else unavailable" class="available">Disponível</td>
                  <ng-template #unavailable >
                    <td class="unavailable">Em uso</td>
                  </ng-template>
                </tr>
            </tbody>
          </table>
    </div>
</div>
  <app-paginator *ngIf="products" [paginator]="paginator" (paginatorEvent)="nextPage($event)" [alpha]="alpha"></app-paginator>
<div class="container-message-success" *ngIf="success !== null">
  <span class="success" >
     <p class="message-success"> {{ success }} </p>
  <div class="progress-bar"></div>
  </span>
</div>
