
<app-menu-responsive></app-menu-responsive>

<div class="container-main-users">
    <div class="container-header-table">
      <p class="title-page">Produtos</p>
      <div class="container-counters">
        <div class="cart-count-available">
          <p class="counter">{{ available }}</p>
          <span class="title-count"><abbr title="Quantidade de produtos disponíveis.">Disponíveis</abbr></span>
        </div>
        <div class="cart-count-pending">
          <p class="counter">{{ unavailable }}</p>
          <span class="title-count"><abbr title="Quantidade de produtos pendentes.">Pendentes</abbr></span>
        </div>
        <div class="cart-count-total">
          <p class="counter">{{ total }}</p>
          <span class="title-count"><abbr title="Quantidade de produtos totais.">Totais</abbr></span>
        </div>
      </div>
      <div class="container-search">
        <app-search  (data)="onSearch($event)"></app-search>
      </div>
      
      <a class="register" (click)="createProduct()"><i class="bi bi-cart-plus-fill"></i>cadastrar</a>
    </div>
    
    <div class="container-table-user">
        <table class="table table-hover">
            <thead>
              <tr (click)="changeOrderBy()" (mouseover)="effectIconOrderBYOver()" (mouseout)="effectIconOrderBYOut()">
                <th>#</th>
                <th><i class="{{ orderByIcon }}"></i><i class="bi bi-arrow-up"></i></th>
                <th>código</th>
                <th><i class="{{ orderByIcon }}"></i><i class="bi bi-arrow-down"></i></th>
                <th>produto</th>
                <th><i class="{{ orderByIcon }}"></i><i class="bi bi-arrow-up"></i></th>
                <th>marca</th>
                <th><i class="{{ orderByIcon }}"></i><i class="bi bi-arrow-down"></i></th>
                <th>cor</th>
                <th><i class="{{ orderByIcon }}"></i><i class="bi bi-arrow-up"></i></th>
                <th>tamanho</th>
                <th><i class="{{ orderByIcon }}"></i><i class="bi bi-arrow-down"></i></th>
                <th>sexo</th>
                <th><i class="{{ orderByIcon }}"></i><i class="bi bi-arrow-up"></i></th>
              
                <th>observação</th>
                <th><i class="{{ orderByIcon }}"></i><i class="bi bi-arrow-up"></i></th>
                <th>avariado</th>
                <th><i class="{{ orderByIcon }}"></i><i class="bi bi-arrow-down"></i></th>
                <th>descrição</th>
                <th><i class="{{ orderByIcon }}"></i><i class="bi bi-arrow-up"></i></th>
                <th><abbr title="Quantidade de items disponíveis ">Disp.</abbr></th>
                <th><i class="{{ orderByIcon }}"></i><i class="bi bi-arrow-down"></i></th>
                <th>status</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let product of products" (click)="openDialog(product)" #list>
                  <td>{{ product.id }}</td>
                  <td></td>
                  <td>{{ product.code }}</td>
                  <td></td>
                  <td>{{ product.product }}</td>
                  <td></td>
                  <td>{{ product.brand }}</td>
                  <td></td>
                  <td>{{ product.color }}</td>
                  <td></td>
                  <td>{{ product.size }}</td>
                  <td></td>
                  <td>{{ product.sexo }}</td>
                  <td></td>
                  <td>{{ product.observation }}</td>
                  <td></td>
                  <td *ngIf="product.breakdown; else breakdown">Sim</td>
                  <ng-template #breakdown>
                    <td>Não</td>
                  </ng-template>
                  <td></td>
                  <td>{{ product.description }}</td>
                  <td></td>
                  <td>{{ product.available }}</td>
                  <td></td>
                  <td class="unavailable" *ngIf="product.unavailable === product.amount else pending">Indisponível</td>
                  <td></td>
                  <ng-template #pending>
                    <td class="available">Disponíveis</td>
                  </ng-template>
                </tr>
            </tbody>
          </table>
       
    </div>

   

 

    <div class="container-paginator">
      <app-paginator [paginator]="paginator" [alpha]="alpha" (paginatorEvent)="nextPage($event)" ></app-paginator>
    </div>

    <div class="container-footer">
      <div class="container-lign-footer">
        <p>Acervo&copy;{{ data | date: 'Y'}}</p>
      </div>


<div class="container-message-success" *ngIf="success !== null">
  <span class="success" >
     <p class="message-success"> {{ success }} </p>
  <div class="progress-bar"></div>
  </span>
</div>
